@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root{
    --Purple: hsl(259, 100%, 65%);
    --Light_red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off_white: hsl(0, 0%, 94%);
    --Light_grey: hsl(0, 0%, 86%);
    --Smokey_grey: hsl(0, 1%, 44%);
    --Off_black: hsl(0, 0%, 8%);
}

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--Off_white);
}

.container{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 1rem;
    .card{
        min-width: 31.8rem;
        width: 90%;
        padding: 3.5rem 2rem 3.3rem 2rem;
        background-color: var(--White);
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 8rem;
        .formulario{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            .box-input{
                display: flex;
                column-gap: 1.4rem;
                padding-bottom: 2.9rem;
                .container-input{
                    width: 7.9rem;
                    .title{
                        font-size: 1.2rem;
                        font-weight: 700;
                        letter-spacing: 0.2rem;
                        color: var(--Smokey_grey);

                    }
                    .input-date{
                        cursor: pointer;
                        margin-top: 0.6rem;
                        padding-left: 1.2rem;
                        width: 100%;
                        height: 4.3rem;
                        border: 1px solid;
                        color: var(--Off_black);
                        border-color: var(--Light_grey);
                        border-radius: 0.3rem;
                        font-size: 1.6rem;
                        font-weight: 800;
                        &::placeholder{
                            color: var(--Smokey_grey);
                        }
                    }
                    .input-date:focus{
                        outline: none;
                        border-color: var(--Purple);
                    }
                }
            }
            .line{
                border: 0.1rem solid var(--Off_white);
                transform: translateY(2.6rem);
                width: 100%;
            }
            button{
                align-self: center;
                z-index: 1;
                position: relative;
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                background-image: url(../assets/images/icon-arrow.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 2.3rem;
                border: none;
                background-color: var(--Purple);
                &:hover{
                    background-color: var(--Off_black);
                }
                
            }
        }
        .container-result{
            margin-top: 2rem;
            .box-time{
                display: flex;
                column-gap: 0.6rem;
                .result,.text{
                    font-size: 5rem;
                    font-style: italic;
                }
                .result{
                    color: var(--Purple);
                }
                .text{
                    color: var(--Off_black);
                    font-weight: 800;
                    padding-top: 0.1rem;   
                }
            }
        }
    }
}

@media(min-width:426px){
    .container{
        .card{
            max-width: 50rem;
            padding: 3.5rem 3.3rem 2.6rem 3.8rem;
            .formulario{
                .box-input{
                    padding-bottom: 0.5rem;
                    .container-input{
                        width: 9.3rem;
                        .title{
                            letter-spacing: 0.3rem;
                        }
                    }
                }
                button{
                    width: 5.6rem;
                    height: 5.6rem;
                    align-self: flex-end;
                }
            }
            .container-result{
                margin-top: 0;
                .box-time{
                    .result,.text{
                        font-size: 6rem;
                    }
                }
            }
        }
    }
}